@import './variables.scss';

html {
    @include typo;

    @include mobile-breakpoint {
        font-size: 4vw
    }
}

body {
    @include no-margin;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2,
h3 {
    @include no-margin;
}

a {
    text-decoration: none;
    color: $blackKasa;

    &:hover {
        text-decoration: underline;
    }
}

img {
    width: 100%;
    height: auto;
}

header,
section {
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
    max-width: 1240px;
    min-height: unset;
    margin: 0 auto;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
}