.App-header div{
    display: flex;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }