@import '../../sass/variables.scss';

.loader {
    display: flex;
    margin: 2rem auto;

    &-txt {
        color: $mainKasa;
        font-weight: 600;
        font-size: 1rem;
    }

    &-emoji {
        display: inline-block;
        animation: rotation 1s infinite linear;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}